body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0;
}
.cent{
    align-items: center;
    justify-content: center;
}
.logo {
    align-items: center;
    width:100%;
    justify-content: center;
}
h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select,
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}
button[type="resett"] {
    background-color:gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(12, 115, 211);
}
header {
    background-color: rgb(12, 115, 211);
    padding: 10px;
    color:rgb(12, 115, 211);
  }
  nav ul {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
  }